* {text-shadow: none !important;-webkit-touch-callout: none;-webkit-user-select: text;}
.ui-focus,
.ui-btn:focus {
    -moz-box-shadow: inset 0 0 3px      #dadada  , 0 0 9px         #dadada  !important;
    -webkit-box-shadow: inset 0 0 3px   #dadada  , 0 0 9px         #dadada  !important;
    box-shadow: inset 0 0 3px           #dadada  , 0 0 9px         #dadada  !important;
}
.ui-input-text.ui-focus,
.ui-input-search.ui-focus {
    -moz-box-shadow: 0 0 12px           #dadada !important;
    -webkit-box-shadow: 0 0 12px        #dadada !important;
    box-shadow: 0 0 12px                #dadada !important;    
}
.ui-header .ui-focus,
.ui-header .ui-btn:focus {
    -moz-box-shadow: inset 0 0 3px      #0B0A2C  , 0 0 9px         #0B0A2C  !important;
    -webkit-box-shadow: inset 0 0 3px   #0B0A2C  , 0 0 9px         #0B0A2C  !important;
    box-shadow: inset 0 0 3px           #0B0A2C  , 0 0 9px         #0B0A2C  !important;
}
.ui-header .ui-input-text.ui-focus,
.ui-header .ui-input-search.ui-focus {
    -moz-box-shadow: 0 0 12px           #0B0A2C !important;
    -webkit-box-shadow: 0 0 12px        #0B0A2C !important;
    box-shadow: 0 0 12px                #0B0A2C !important;    
}
a:active, input[type="submit"]:active {
  background-color: blue;
}
label span {font-weight:bold;}
.ui-page-theme-a .ui-btn {background-color: #a9a9a9;border:none;text-shadow: none;}
.ui-shadow-inset,
.ui-shadow {box-shadow:none;}
.ui-btn.btn-primary {background:#C26228;border:none;}
.ui-overlay-a, .ui-page-theme-a, .ui-page-theme-a .ui-panel-wrapper {background-color:#F2F2F2;color:#888;}
.ui-header {background: #252362 !important;border-bottom: 1px solid #000 !important;}
.ui-body-a, .ui-page-theme-a .ui-body-inherit, html .ui-bar-a .ui-body-inherit, html .ui-body-a .ui-body-inherit, html body .ui-group-theme-a .ui-body-inherit, html .ui-panel-page-container-a {
	background-color: white;border-color: #dadada;color: #888;text-shadow: none;}
.ui-page-theme-a .ui-btn, html .ui-bar-a .ui-btn, html .ui-body-a .ui-btn, html body .ui-group-theme-a .ui-btn, html head + body .ui-btn.ui-btn-a, .ui-page-theme-a .ui-btn:visited, html .ui-bar-a .ui-btn:visited, html .ui-body-a .ui-btn:visited, html body .ui-group-theme-a .ui-btn:visited, html head + body .ui-btn.ui-btn-a:visited
 {background:white;color:#333;border-color:#DADADA;}
#enterUrl {display:none;}
.ui-title {visibility:hidden;}
.ui-title::before {content: url('../images/sam.png');visibility: visible;display: block;height: 0;margin-top: -1px;}
.ui-header .ui-btn {background:#252362!important;color:white!important;border:1px solid #0B0A2C!important;}
#project {background: white;position: absolute;left: 0;right: 0;padding: 15px;min-height:100vh;margin-top:0;}
label {clear:both;}
label input,
label select {border:1px solid #dadada;}
#view label br {display:none;}
#view .ui-select {margin-top: -16px;margin-bottom: .5em;position: relative;float: right;width: 80%;}
.ui-select {border:1px solid #dadada;}
#view > .ui-content > label, 
#view .ui-controlgroup-label {display: block;margin: 0 0 .4em;min-height: 40px;margin-top: 15px;line-height:.6;font-weight:bold;color:#666;}
/*
#invTabs {position:fixed;right:0;bottom:-3px;left:0;border:none;padding:0;}
#invTabs .ui-btn {text-overflow:none;overflow:visible;white-space:normal;min-height:32px;background:#A9A9A9;color:white;}
#invTabs .ui-btn-active {background:#525077;}
#invTabs .ui-corner-top {border-radius:0;}
*/
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {border: 1px solid #0D092C!important;background: #252362;font-weight: normal;color: #fff;}
table th {background:#525077;color:white;text-align:left;}
table.dataTable.dtr-inline.collapsed > tbody > tr > td:first-child, table.dataTable.dtr-inline.collapsed > tbody > tr > th:first-child {}
table .lazy {margin-left:25px;}
table.dataTable > tbody > tr.child span.dtr-title {color:#6B6B6B;min-width: 75px;font-weight: bold;display:block;}
table.dataTable > tbody > tr.child ul li {font-size: small;color:#6B6B6B;}
.attachImage,
.finder,
.writeTag,
.tree-btn {color:#C06129!important;font-size:large;}
table.dataTable > tbody > tr.child ul {
	display: inline-block;
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 100%;
}
td.child {padding-left:0!important;padding-right:2px!important;}
td.child ul {padding-right:0!important;}
table.dataTable {border:1px solid #ddd;}
table.dataTable > tbody > tr.child ul {
	display: block;
	list-style-type: none;
	margin: 0;
	padding: 0 10px;
	width: 94%;
}
.ui-dialog .ui-content {background:white;}
#home .ui-content .text-center {visibility: hidden;}
#home .ui-content .text-center:after {content:'\00a9 2018 SAM. All rights reserved.';visibility:visible;display:block;color:#656565;font-size:small;margin-top:-30px;}
.appUrlSetting {display:none;}
.ui-btn-active {color: white !important; background:none !important; background-color:#525076 !important;  }
.ui-btn:hover {background:#c26128!important;color:white!important;border-color:#c26128!important;}
.dataTables_paginate {border:1px solid #dadada;}
a.paginate_button {
	margin:0;
}
.dataTables_wrapper .dataTables_paginate {
	padding-top: 0;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {border-top:1px solid #c26128;border-bottom:1px solid #c26128;}
.dataTables_wrapper .dataTables_paginate a.paginate_button.current {
	background: #c26128 !important;
	color:white!important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
	cursor: default;
	color: #888 !important;
	border: 1px solid transparent;
	background: transparent;
	box-shadow: none;
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
	border-right:1px solid #dadada;
	border-left:1px solid #dadada;
	margin-left:-1px;
	background:#f2f2f2;
}
.dataTables_info {font-size:small;color:#888;}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
	color: white !important;
	border: 1px solid #525076;
	background:none;
	background-color: #333;
}
.btn-primary {color:white!important;background: #c26128 !important;}