*{text-shadow:0 0 0 #000!important;-webkit-touch-callout: none;-webkit-user-select: text;}
textarea {-webkit-user-select: auto;}
body {display:none;}
#project {margin-top:30px;}
.ui-header {background:#333!important;border-bottom:1px solid #000!important;}
.text-center {text-align:center;}
table td {color:#000!important;}
#project .dataTables_wrapper {color:#fff!important;}
pre {padding:10px 5px;white-space:pre-wrap;}
#rangeFinder table {width:100%;}
#rangeFinder table td {color:#fff!important;}
.writeTag,
.finder, 
.attachImage {text-decoration:none;}
#enterUrl {margin-top:15px;display:block;padding:10px;}
[aria-valuenow="-91"],
[aria-valuenow="-92"],
[aria-valuenow="-93"],
[aria-valuenow="-94"],
[aria-valuenow="-95"],
[aria-valuenow="-96"],
[aria-valuenow="-97"],
[aria-valuenow="-98"],
[aria-valuenow="-99"],
[aria-valuenow="-100"],
[aria-valuenow="-101"],
[aria-valuenow="-102"],
[aria-valuenow="-103"],
[aria-valuenow="-104"],
[aria-valuenow="-105"],
[aria-valuenow="-106"],
[aria-valuenow="-107"],
[aria-valuenow="-108"],
[aria-valuenow="-109"],
[aria-valuenow="-110"],
[aria-valuenow="-111"],
[aria-valuenow="-112"],
[aria-valuenow="-113"],
[aria-valuenow="-114"],
[aria-valuenow="-115"],
[aria-valuenow="-116"],
[aria-valuenow="-117"],
[aria-valuenow="-118"],
[aria-valuenow="-119"],
[aria-valuenow="-120"] {background:lightblue!important;}
[aria-valuenow="-61"],
[aria-valuenow="-62"],
[aria-valuenow="-63"],
[aria-valuenow="-64"],
[aria-valuenow="-65"],
[aria-valuenow="-66"],
[aria-valuenow="-67"],
[aria-valuenow="-68"],
[aria-valuenow="-69"],
[aria-valuenow="-70"],
[aria-valuenow="-71"],
[aria-valuenow="-72"],
[aria-valuenow="-73"],
[aria-valuenow="-74"],
[aria-valuenow="-75"],
[aria-valuenow="-76"],
[aria-valuenow="-77"],
[aria-valuenow="-78"],
[aria-valuenow="-79"],
[aria-valuenow="-80"],
[aria-valuenow="-81"],
[aria-valuenow="-82"],
[aria-valuenow="-83"],
[aria-valuenow="-84"],
[aria-valuenow="-85"],
[aria-valuenow="-86"],
[aria-valuenow="-87"],
[aria-valuenow="-88"],
[aria-valuenow="-89"],
[aria-valuenow="-90"] {background:yellow!important;}
[aria-valuenow="-31"],
[aria-valuenow="-32"],
[aria-valuenow="-33"],
[aria-valuenow="-34"],
[aria-valuenow="-35"],
[aria-valuenow="-36"],
[aria-valuenow="-37"],
[aria-valuenow="-38"],
[aria-valuenow="-39"],
[aria-valuenow="-40"],
[aria-valuenow="-41"],
[aria-valuenow="-42"],
[aria-valuenow="-43"],
[aria-valuenow="-44"],
[aria-valuenow="-45"],
[aria-valuenow="-46"],
[aria-valuenow="-47"],
[aria-valuenow="-48"],
[aria-valuenow="-49"],
[aria-valuenow="-50"],
[aria-valuenow="-51"],
[aria-valuenow="-52"],
[aria-valuenow="-53"],
[aria-valuenow="-54"],
[aria-valuenow="-55"],
[aria-valuenow="-56"],
[aria-valuenow="-57"],
[aria-valuenow="-58"],
[aria-valuenow="-59"],
[aria-valuenow="-60"] {background:orange!important;}
[aria-valuenow="0"],
[aria-valuenow="-1"],
[aria-valuenow="-2"],
[aria-valuenow="-3"],
[aria-valuenow="-4"],
[aria-valuenow="-5"],
[aria-valuenow="-6"],
[aria-valuenow="-7"],
[aria-valuenow="-8"],
[aria-valuenow="-9"],
[aria-valuenow="-10"],
[aria-valuenow="-11"],
[aria-valuenow="-12"],
[aria-valuenow="-13"],
[aria-valuenow="-14"],
[aria-valuenow="-15"],
[aria-valuenow="-16"],
[aria-valuenow="-17"],
[aria-valuenow="-18"],
[aria-valuenow="-19"],
[aria-valuenow="-20"],
[aria-valuenow="-21"],
[aria-valuenow="-22"],
[aria-valuenow="-23"],
[aria-valuenow="-24"],
[aria-valuenow="-25"],
[aria-valuenow="-26"],
[aria-valuenow="-27"],
[aria-valuenow="-28"],
[aria-valuenow="-29"],
[aria-valuenow="-30"] {background:red!important;}
.ui-slider-track .ui-btn.ui-slider-handle {
  margin-top: -22px;
}
table.dataTable > tbody > tr.child:hover {
  background: inherit;
}
table.dataTable.hover tbody tr:hover, 
table.dataTable.hover tbody tr.odd:hover, 
table.dataTable.hover tbody tr.even:hover, 
table.dataTable.display tbody tr:hover, 
table.dataTable.display tbody tr.odd:hover, 
table.dataTable.display tbody tr.even:hover {
  background-color: #fff !important;
}
div#battery-progress-bar {
    margin-bottom: 15px;
}

a.paginate_button {
    background-color: white;
    margin-bottom: 13px;
}

a.paginate_button.current {
    background: #fadb4e !important;
}

img.findItemImage{
	margin-left:10px;
  margin-bottom:11px
}

.tree-btn{
  margin-left:15px;
  cursor:pointer;
}
.tree-btn.view-screen{
  margin-left:0px;
}

#globalUpdate form {
    margin-top: 15px;
}

#globalUpdateScanLocation span {
    display:inline-block;
    text-align:center;
}